/Autoencoder - Anomaly Detection/Files/creditcard.csv
/Autoencoder - Anomaly Detection/.ipynb_checkpoints/
/Logistic Regression from scratch/.ipynb_checkpoints/
/Logistic Regression from scratch/__pycache__/
/Neural Network from scratch/.ipynb_checkpoints/
/Neural Network from scratch/__pycache__/
/.ipynb_checkpoints/